<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Ikitekno</title>
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <div class="container">
        <img src="../img/logo.png" alt="">
        <h1>Login</h1>
        <p class="short-description">
            Lanjutkan ke ikitravel
        </p>
        <form action="" method="post">

            <div class="input-data">
                <input type="email" class="email" placeholder="example@mail.com">
                <input type="password" class="password" placeholder="Masukkan password anda">
            </div>
            <div class="input-navigation">
                <div class="make-account">
                    <a href="#">Buat akun</a>
                </div>
                <div class="btn-masuk">
                    <a href="#">Masuk</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>