* {
    margin: 0px;
    padding: 0px;
    font-family: 'Assistant', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 904px;
    height: 596px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 92px;
    border: 1px solid #CECECE;
    border-radius: 11px;
}

.container .content {
    display: grid;
    grid-template-columns: [init-col] 360px [end-first-section] 360px [end-second-section];
    grid-template-rows: [init-row] 162px [end-header] 65px [end-first-input] 65px [end-second-input] 65px [end-third-input] 65px [end-fourth-input] 92px [end-footer];
    column-gap: 12px;
}

.container .content .header {
    grid-column-start: init-col;
    grid-column-end: end-first-section;
    grid-row-start: init-row;
    grid-row-end: end-header;
}

.container .content .data {
    font-family: inherit;
    font-size: 18px;
}

.container .content .data.full-name {
    grid-column-start: init-col;
    grid-column-end: end-first-section;
    grid-row-start: end-header;
    grid-row-end: end-first-input;

    max-height: 45px;
    max-width: 312px;

    border-radius: 4px;

    padding: 0px 20px;
}

.container .content .password-group {
    grid-column-start: init-col;
    grid-column-end: end-first-section;
    grid-row-start: end-first-input;
    grid-row-end: end-second-input;

    border-radius: 4px;

}

.container .content .password-group .data.password {
    max-width: 124px;
    height: 45px;
    padding: 0 20px;
    border-radius: 4px;
    margin-right: 0px;

}

.container .content .password-group .data.password-confirmation {
    max-width: 124px;
    height: 45px;
    padding: 0 20px;
    border-radius: 4px;
    margin-left: 16px;
}

.container .content .data.phone-number {
    grid-column-start: init-col;
    grid-column-end: end-first-section;
    grid-row-start: end-second-input;
    grid-row-end: end-third-input;

    border-radius: 4px;

    max-height: 45px;
    max-width: 312px;

    padding: 0px 20px;
}

.container .content .profile-img-group {
    grid-column-start: init-col;
    grid-column-end: end-first-section;

    grid-row-start: end-third-input;
    grid-row-end: end-fourth-input;

    display: flex;
    /* 
    border-radius: 4px;
    max-height: 45px;
    max-height: 312px;

    padding: 0px 20px; */
}

.container .content .profile-img-group .profile-img-label {
    
    /* untuk */
    height: 38px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #CECECE;
}

.container .content .profile-img-group .profile-img-label img {
    height: 20px;
    width: 20px;
    margin-left: 4px;
}

.container .content .profile-img-group .text-upload-foto-pribadi {
    display: inline;
    font-size: 18px;
}

.container .content .profile-img-group .data.profile-img {
    margin-left: -72px;
    z-index: -1;
    color: rgb(153, 153, 153);
    font-size: 14px;
}

.container .content .identity-img-group {
    grid-column-start: end-first-section;
    grid-column-end: end-second-section;

    grid-row-start: end-header;
    grid-row-end: end-first-input;

    display: flex;

    /* 
    border-radius: 4px;
    max-height: 45px;
    max-height: 312px;
    
    padding: 0px 20px; */
}

.container .content .identity-img-group .identity-img-label {
    
    /* untuk */
    height: 38px;
    width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: #CECECE;
}

.container .content .identity-img-group .identity-img-label img {
    height: 20px;
    width: 20px;
    margin-left: 4px;
}

.container .content .profile-img-group .text-upload-foto-identity {
    display: inline;
    font-size: 18px;
}

.container .content .identity-img-group .data.identity-img {
    margin-left: -72px;
    z-index: -1;
    color: rgb(153, 153, 153);
    font-size: 14px;
}
.container .content .data.born-day {
    grid-column-start: end-first-section;
    grid-column-end: end-second-section;

    grid-row-start: end-first-input;
    grid-row-end: end-second-input;

    border-radius: 4px;

    max-height: 45px;
    max-width: 312px;

    padding: 0px 20px;
}

.container .content .data.full-address {
    grid-column-start: end-first-section;
    grid-column-end: end-second-section;

    grid-row-start: end-second-input;
    grid-row-end: end-fourth-input;

    border-radius: 4px;

    max-height: 110px;
    max-width: 312px;

    padding: 12px 20px;
}

.container .content .navigation-btn-group {
    grid-column-start: end-first-section;
    grid-column-end: end-second-section;

    grid-row-start: end-fourth-input;
    grid-row-end: end-footer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: flex-start;
}

.container .content .navigation-btn-group .login-btn {
    color: #CECECE;
    font-size: 20px;
    text-decoration: none;
    margin-top: 50px;
    order: 1;
    margin-right: 0px;
}

.container .content .navigation-btn-group .register-container {
    margin-top: 0px;
    margin-left: 30px;
    margin-top: 50px;

    background-color: #1A73E9;
    padding: 8px 32px;

    border-radius: 4px;
    order: 0;
}

.container .content .navigation-btn-group .register-container .register-btn {
    text-decoration: none;
    color: #fff;
}

.container .content .navigation-btn-group .register-container:hover {
    background-color: #4289e6;
}