<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="edit-profile.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&family=Playfair+Display:wght@400;600;700&display=swap"
        rel="stylesheet">
</head>
</head>

<body>
    <div class="background">

    </div>
    <div class="container">
        <nav class="nav">
            <div class="nav-dummy"> 

            </div>
            <div class="nav-title">
                <img src="../img/logo.png" alt="">
                <span class="nav-title-divider"></span>
                <span>"There is always way to travel"</span>
            </div>
            <div class="logout-btn">
                <img src="../img/logout.png" alt="">
                <a href="#">
                    <span>Logout</span>
                </a>

            </div>

        </nav>
        <main>
            <div class="sidebar">
                <span class="sidebar-title">Akun Saya</span>
                <div class="edit-profile-nav">
                    <img src="../img/icon-user.png" alt="">
                    <a href="#">Edit Profil</a>
                </div>
                <div class="booking-list-nav">
                    <img src="../img/icon-book.png" alt="">
                    <a href="#">Booking List</a>
                </div>
            </div>
            <div class="edit-section-group">
                <div class="photo-edit-container">
                    <img src="../img/photo-dummy.png" alt="">
                    <div class="photo-edit-btn">
                        <a href="#"> Pilih Foto</a>
                    </div>
                    <div class="photo-edit-note">
                        Maksimal ukuran foto 1 MB
                    </div>
                </div>
                <div class="edit-section">
                    <div class="edit-section-title">
                        Edit data diri
                    </div>
                    <div class="data data-sm">
                        <label for="name" class="label-input">
                            Nama
                        </label>
                        <input type="text" id="name" name="name" class="input-sm" placeholder="Nama lengkap">
                    </div>
                    <div class="data data-sm">
                        <label for="born-date" class="label-input">
                            Tanggal Lahir
                        </label>
                        <input type="date" id="born-date" name="born-date" class="input-sm" placeholder="Tanggal lahir">
                    </div>
                    <div class="data data-lg">
                        <label for="address" class="label-input">
                            Alamat Lengkap
                        </label>
                        <textarea id="address" name="address" class="input-lg" rows="3"> </textarea>
                    </div>
                    <div class="data data-sm">
                        <label for="email" class="label-input">
                            Email
                        </label>
                        <input type="email" id="email" name="email" class="input-sm" placeholder="example@mail.com">
                    </div>
                    <div class="data data-sm">
                        <label for="phone-number" class="label-input">
                            Nomor Telepon
                        </label>
                        <input type="text" id="phone-number" name="phone-number" class="input-sm"
                            placeholder="08XXXXXXXXXX">
                    </div>
                    <div class="data data-sm">
                        <label for="password" class="label-input">
                            Password
                        </label>
                        <input type="text" id="password" name="password" class="input-sm" placeholder="Your password">
                    </div>
                    <div class="submit-btn">
                        <a href="#">Simpan Perubahan</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>

    </footer>
</body>

</html>