<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikitekno | Tambah Mobil Baru</title>
    <link rel="stylesheet" href="modal-add-car.css">
</head>

<body>
    <div id="container">
        <div id="header">
            <h1 class="make-account-header">
                Tambah Mobil Baru
            </h1>
        </div>
        <main id="edit-section-group">
            <div id="edit-photo-container">
                <div id="current-photo-wrapper">
                    <img src="../img/picture-placeholder-rec.png" alt="" id="current-photo">
                </div>
                <div id="btn-edit-photo">
                    <img src="../img/Icon-edit.png" alt="">
                </div>
            </div>
            <div id="edit-data-group">
                <div class="data data-sm" id="data-model-wrapper">
                    <label for="data-model">
                        Nama Mobil
                    </label>
                    <input type="text" class="input-sm" id="data-model" name="data-model">
                </div>
                <div class="data data-sm" id="data-type-wrapper">
                    <label for="data-type">
                        Tipe Mobil
                    </label>
                    <select class="input-sm" name="data-type" id="data-type">
                        <option value="MPV">MPV</option>
                        <option value="LMPV">LMPV</option>
                        <option value="SUV">SUV</option>
                    </select> 
                </div>
                <div class="data data-sm" id="data-brand-wrapper">
                    <label for="data-brand">
                        Merk Mobil
                    </label>
                    <select class="input-sm" name="data-brand" id="data-brand">
                        <option value="Avanza">Avanza</option>
                        <option value="Ertiga">Ertiga</option>
                        <option value="Rush">Rush</option>
                    </select>
                </div>
                <div class="data data-sm" id="data-number-wrapper">
                    <label for="data-number">
                        Nomor Plat
                    </label>
                    <input type="text" class="input-sm" name="data-number" id="data-number">
                </div> 
                <div class="data data-sm" id="data-price-wrapper">
                    <label for="data-price">
                        Harga sewa per hari
                    </label>
                    <input type="text" class="input-sm" id="data-price" name="data-price">
                </div>
            </div>
            <div id="btn-group">
                <button id="btn-save">
                    Simpan Perubahan
                </button>
                <button id="btn-cancel">
                    Batalkan
                </button>
            </div>
        </main>
    </div>
</body>

</html>