<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&family=Playfair+Display:wght@400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <div class="container">

        <div class="navbar-container">

            <nav>
                <div class="logo">
                    <img src="../img/logo.png" alt="">
                </div>

                <ul class="nav-menu">
                    <li><a href="#"> Home</a></li>
                    <li><a href="#">Booking </a></li>
                    <li><a href="#">Login </a></li>
                    <li><a href="#">Pesanan Saya </a></li>
                </ul>

                <div class="tagline">
                    <p>"There is always way to travel"</p>
                </div>
            </nav>

        </div>
        <!-- Banner -->
        <div class="banner-container">
            <div class="layer-black"></div>
            <div class="banner-content">
                <div class="banner-header">
                    <p>Kini Berpergian Menjadi <br>Lebih Mudah</p>
                </div>
                <div class="banner-description">
                    <p>Kami membantu mempersiapkan mobil-mobil terbaik untuk <br>menemani perjalanan anda. </p>
                </div>
                <div class="btn-booking-now">
                    <a href="#"> Booking Mobil Sekarang </a>
                </div>
            </div>
        </div>
        <!-- Deskripsi singkat -->
        <div class="simple-intro">
            <div class="header-simple-intro">
                <h2>Sekilas mengenai ikitravel</h2>
            </div>
            <div class="description-simple-intro">
                <p>
                    Ikitravel merupakan perusahaan yang menyediakan penyewaan mobil. Inventore repellat harum quasi
                    officia aut at temporibus
                    rerum consectetur omnis possimus eius earum, reprehenderit cupiditate ut fugit asperiores officiis
                    doloribus nulla commodi.
                </p>
            </div>
        </div>
        <!-- Testimoni -->
        <div class="testimoni">
            <div class="testimoni-content">
                <div class="header-testimoni">
                    <h2>Apa Kata Mereka?</h2>
                </div>
                <div class="content-testimoni">
                    <div class="card-testimoni">

                        <div class="header-card-testimoni">
                            <div class="img-card">
                                <img src="../img/placeholder-round-img.png" alt="">
                            </div>
                            <h3>Ilham dari PT. Sentosa</h3>
                            <p>"Wah, ini adalah
                                pengalaman terbaik saya
                                berpergian dengan ikitravel!"</p>
                        </div>
                        <div class="footer-card-testimoni">

                            <div class="line">

                            </div>
                            <p>
                                Menyewa Honda Freed
                            </p>
                        </div>
                    </div>
                    <div class="card-testimoni">

                        <div class="header-card-testimoni">
                            <div class="img-card">
                                <img src="../img/placeholder-round-img.png" alt="">
                            </div>
                            <h3>Ilham dari PT. Sentosa</h3>
                            <p>"Wah, ini adalah
                                pengalaman terbaik saya
                                berpergian dengan ikitravel!"</p>
                        </div>
                        <div class="footer-card-testimoni">

                            <div class="line">

                            </div>
                            <p>
                                Menyewa Honda Freed
                            </p>
                        </div>
                    </div>
                    <div class="card-testimoni">

                        <div class="header-card-testimoni">
                            <div class="img-card">
                                <img src="../img/placeholder-round-img.png" alt="">
                            </div>
                            <h3>Ilham dari PT. Sentosa</h3>
                            <p>"Wah, ini adalah
                                pengalaman terbaik saya
                                berpergian dengan ikitravel!"</p>
                        </div>
                        <div class="footer-card-testimoni">

                            <div class="line">

                            </div>
                            <p>
                                Menyewa Honda Freed
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- help -->
        <div class="help">
            <h2>Tertarik untuk menyewa?</h2>
            <div class="help-btn-group">
                <button class="bantuan">
                    Saya butuh bantuan
                </button>
                <button class="booking">
                    Booking mobil sekarang
                </button>
            </div>
        </div>
        <!-- contact section -->
        <div class="contact-section">
            <div class="header-contact-section">
                <h3>
                    Get Connected
                </h3>
            </div>
            <div class="content-contact-section">
                <ul>
                    <li>Malang</li>
                    <li>Indonesia</li>
                    <li>0812-XXXX-XXXX</li>
                    <li>support@ikitravel.com</li>
                </ul>
            </div>
        </div>
        <!-- footer -->
        <footer>
            <h3>2020 Copyright Ikitravel • All rights reserved • Made in Malang</h3>
        </footer>
    </div>

</body>

</html>