<!DOCTYPE html>
<html lang="en">

<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikitravel | Detail Booking</title>
    <link rel="stylesheet" href="detail-booking.css">
</head>

<body>
    <div class="container">
        <h1 class="header">
            Detail Booking
        </h1>
        <div class="content">
            <div class="left-bar">
                <div class="detail detail-id-booking">
                    <div class="label label-id-booking">
                        ID Booking
                    </div>
                    <div class="data id-booking">
                        #54940005
                    </div>
                </div>

                <div class="detail detail-id-user">
                    <div class="label label-id-user">
                        ID User
                    </div>
                    <div class="data id-user">
                        #3467828
                    </div>
                </div>

                <div class="detail detail-car-type">
                    <div class="label label-car-type">
                        Jenis Mobil
                    </div>
                    <div class="data car-type">
                        Toyota Avanza (<span class="tota-unit">1</span> Unit)
                    </div>
                </div>

                <div class="detail detail-car-number">
                    <div class="label label-car-number">
                        Nomor Plat
                    </div>
                    <div class="data car-number">
                        S 2352 UW
                    </div>
                </div>
                <div class="detail detail-pay-method">
                    <div class="label label-pay-method">
                        Metode Pembayaran
                    </div>
                    <div class="data pay-method">
                        Transfer Bank
                    </div>

                </div>

                <div class="detail detail-pay-status">
                    <div class="label label-pay-status">
                        Status Pembayaran
                    </div>
                    <div class="data pay-status">
                        <span class="on-hold">Belum Dibayar</span>
                    </div>
                </div>
            </div>

            <div class="right-bar">
                <h3>Informasi Pembayaran</h3>
                <div class="total-payment">
                    <span class="title">Total:</span> <span class="value">Rp. 500.000</span>
                </div>
                <div class="line-divider">

                </div>
                <h3>Note</h3>
                <div class="note-caption">
                    Harap lakukan pembayaran dalam
                    1x24 agar dapat melanjutkan transaksi
                </div>
                <div class="bank-account-info">
                    <img src="../img/icon_card.png" alt="">
                    <div class="bank-account-detail">
                        <span>PT. IKITRAVEL ID</span>
                        <span>1345177883323</span>
                        <span>BRI</span>
                    </div>
                </div>
                <div class="bank-account-info">
                    <img src="../img/icon_card.png" alt="">
                    <div class="bank-account-detail">
                        <span>PT. IKITRAVEL ID</span>
                        <span>1345177883323</span>
                        <span>BRI</span>
                    </div>
                </div>
                <div class="btn-confirm-payment">
                    <a href="#">Konfirmasi Pembayaran</a>
                </div>
                <div class="btn-cancel-request">
                    <a href="#">Ajukan Pembatalan</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>