<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikitravel | Booking List</title>
    <link rel="stylesheet" href="user-booking-list.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&family=Playfair+Display:wght@400;600;700&display=swap"
        rel="stylesheet">
</head>
</head>

<body>
    <div class="background">

    </div>
    <div class="container">
        <nav class="nav">
            <div class="nav-dummy">

            </div>
            <div class="nav-title">
                <img src="../img/logo.png" alt="">
                <span class="nav-title-divider"></span>
                <span>"There is always way to travel"</span>
            </div>
            <div class="logout-btn">
                <img src="../img/logout.png" alt="">
                <a href="#">
                    <span>Logout</span>
                </a>

            </div>

        </nav>
        <main>
            <div class="sidebar">
                <span class="sidebar-title">Akun Saya</span>
                <div class="edit-profile-nav">
                    <img src="../img/icon-user.png" alt="">
                    <a href="#">Edit Profil</a>
                </div>
                <div class="booking-list-nav">
                    <img src="../img/icon-book.png" alt="">
                    <a href="#">Booking List</a>
                </div>
            </div>
            <div class="booking-list-group">
                <div class="booking-list-title">
                    Daftar Booking
                </div>
                <div class="line-divider"></div>
                <div class="booking-detail">
                    <div class="id-book-group">
                        <div class="label label-id-book">
                            ID Booking
                        </div>
                        <div class="data id-book">
                            235626777
                        </div>
                    </div>
                    <div class="book-date-group">
                        <div class="label label-book-date">
                            Tanggal Booking
                        </div>
                        <div class="data book-date">
                            12 September 2020
                        </div>
                    </div>
                    <div class="booked-by-group">
                        <div class="label label-booked-by">
                            Dipesan Oleh
                        </div>
                        <div class="data booked-by">
                            235626777
                        </div>
                    </div>
                    <div class="pay-method-group">
                        <div class="label label-pay-method">
                            Metode Pembayaran
                        </div>
                        <div class="data pay-method">
                            Transfer Bank
                        </div>
                    </div>
                    <div class="pay-status-group">
                        <div class="label label-pay-status">
                            Status Pembayaran
                        </div>
                        <div class="data pay-status">
                            <span class="paid-off">Lunas</span>
                        </div>
                        
                    </div>
                    <div class="btn-detail">
                        <a href="#">Detail</a>
                    </div>
                </div>
                
                <div class="line-divider"></div>
                <div class="booking-detail">
                    <div class="id-book-group">
                        <div class="label label-id-book">
                            ID Booking
                        </div>
                        <div class="data id-book">
                            235626777
                        </div>
                    </div>
                    <div class="book-date-group">
                        <div class="label label-book-date">
                            Tanggal Booking
                        </div>
                        <div class="data book-date">
                            12 September 2020
                        </div>
                    </div>
                    <div class="booked-by-group">
                        <div class="label label-booked-by">
                            Dipesan Oleh
                        </div>
                        <div class="data booked-by">
                            235626777
                        </div>
                    </div>
                    <div class="pay-method-group">
                        <div class="label label-pay-method">
                            Metode Pembayaran
                        </div>
                        <div class="data pay-method">
                            Transfer Bank
                        </div>
                    </div>
                    <div class="pay-status-group">
                        <div class="label label-pay-status">
                            Status Pembayaran
                        </div>
                        <div class="data pay-status">
                            <span class="on-hold">Belum dibayar</span>
                        </div>
                        
                    </div>
                    <div class="btn-detail">
                        <a href="#">Detail</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>

    </footer>
</body>

</html>