<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikitravel | Account List</title>
    <link rel="stylesheet" href="user-management.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&family=Playfair+Display:wght@400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="sidebar">
        <div class="logo">
            <img src="../img/logo.png" alt="">
        </div>
        <div class="nav-item nav-transaction">
            <a href=""><img src="../img/icon-transaction.png" alt=""></a>
        </div>
        <div class="nav-item nav-user-list">
            <a href=""> <img src="../img/icon-car.png" alt=""> </a>
        </div>
        <div class="nav-item nav-account-config">
            <a href=""> <img src="../img/icon-account-config.png" alt=""></a>
        </div>
        <div class="nav-item nav-stats">
            <a href=""><img src="../img/icon-stats.png" alt=""></a>
        </div>
    </nav>
    <main>
        <div class="header">
            <h1 class="title">Daftar Akun</h1>
        </div>
        <div class="wrapper">
            <div class="search-data-group">
                <input type="text" name="search-user" id="search-user" placeholder="Cari data mobil">
                <div class="btn-search"><a href="#"><img src="../img/icon-search.png" alt=""></a></div>
            </div>
            <div class="add-new-user"> 
                    <button class="btn-add">Tambah data</button> 
            </div>
        </div>
        <div class="caption">
            <p>Total <span class="qty-user ">15</span> akun ditemukan.</p>
        </div>
        <div class="table-group">
            <table>
                <thead>
                    <tr>
                        <th class="left">ID User</th>
                        <th>Nama User</th>
                        <th>E-mail</th>
                        <th>Role</th> 
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="left"><span class="user_id">12901</span></td>
                        <td><span class="user-name">Rizki A</td>
                        <td><span class="user-email">someone@mail.com</span></td> 
                        <td><span class="admin">Admin</span></td> 
                        <td><a href="#"><img src="../img/icon-open-up.png" alt=""></a></td>
                    </tr> 
                    <tr>
                        <td ><span class="user_id">12901</span></td>
                        <td><span class="user-name">Rizki A</td>
                        <td><span class="user-email">someone@mail.com</span></td> 
                        <td><span class="admin">Admin</span></td> 
                        <td><a href="#"><img src="../img/icon-open-up.png" alt=""></a></td>
                    </tr> 
                    <tr>
                        <td ><span class="user_id">12901</span></td>
                        <td><span class="user-name">Rizki A</td>
                        <td><span class="user-email">someone@mail.com</span></td> 
                        <td><span class="admin">Admin</span></td> 
                        <td><a href="#"><img src="../img/icon-open-up.png" alt=""></a></td>
                    </tr> 
                    <tr>
                        <td ><span class="user_id">12901</span></td>
                        <td><span class="user-name">Rizki A</td>
                        <td><span class="user-email">someone@mail.com</span></td> 
                        <td><span class="customer">Customer</span></td> 
                        <td><a href="#"><img src="../img/icon-open-up.png" alt=""></a></td>
                    </tr> 

                </tbody>
            </table>
        </div>
    </main>
</body>

</html>